div{
    position:absolute;
}
*{
    box-sizing: border-box;

}
.nav-items{
    list-style: none;
    display:flex;
    position: relative;
    top:-10px; 
    left:1200px; 
    color:white;
}

.hero-text{
    border: solid white;
    margin:50px;
    width:100%;
    height:200px;
    display:flex;
}


.hero-message{
    color:white;
    display: flex;
    flex:1;
    font-family: 'Alata', sans-serif;
}


body{
    background-image: url("../assets/images/desktop/image-hero.jpg");
    min-height:100%;
    background-repeat: no-repeat;
    background-size:cover;
}

/* Footer */
 .attribution { 
    font-size: 11px;
     text-align: center; 
    }
  .attribution a { 
    color: hsl(228, 45%, 44%);
 }