*{
    box-sizing: border-box;

}

body{
    background-image: url("../assets/images/desktop/image-hero.jpg");
    width:700px;
    height:25%;
    margin-left: 0;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-size:cover;
}
.nav-items{
    list-style: none;
    display:flex; 
    position: relative;
    top:-10px; 
    left:1100px; 
    color:white;
    /* justify-content: space-between; */
}
.nav-menu{
    margin:40px;
}

.hero-text{
    border: 1px solid white;
    margin:150px;
    width:50%;
    height:200px;
    /* position: relative;
    left:-40px; */
}


.hero-message{
    color:white;
    display: flex;
    flex:1;
    width:35%;
    font-family: 'Alata', sans-serif;
    font-size:36px;
}





.info-section{
    margin:1000px;
    position: absolute;
    top: 10px;
    right:-550px;
}


.interactive-img{
    width:650px;
    height:380px;
    position:relative;
    top: 10px;
    right:300px;
}

.info-text-section{
    position:relative;
    top: -350px;
    left: 450px;
    margin: 50px;
    line-height: 1.5;
    width:65%;
}



.creations-section{
    position: relative;
    flex-direction:row;
    top: 1000px;
    left:200px;
    display: flex;
    justify-content: space-around;  
}

    .creations-header{
        font-size: 24px;
    }

 .creations-btn{
    background-color:white;
    border:1px solid black;
    position:relative;
    top:10px;
    left:250px;
    margin:10px;
    padding:10px; 
    width:15%;
    height:15%;
    
}

/* Images */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.box {
  flex-basis: calc(25% - 20px);
  height: 100px;
  margin-bottom: 20px;
}


/* Footer */
 .attribution { 
    font-size: 11px;
     text-align: center; 
    }
  .attribution a { 
    color: hsl(228, 45%, 44%);
 }