*{
    box-sizing: border-box;

}
.nav-items{
    list-style: none;
    display:flex; 
    position: relative;
    top:-10px; 
    left:1100px; 
    color:white;
    justify-content: space-between;
}
.nav-menu{
    margin:40px;
}

.hero-text{
    border: solid white;
    margin:150px;
    width:20%;
    height:200px;

}


.hero-message{
    color:white;
    display: flex;
    flex:1;
    width:35%;
    font-family: 'Alata', sans-serif;
}


body{
    background-image: url("../assets/images/desktop/image-hero.jpg");
    /* height:15%; */
    margin-left: 0;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-size:cover;
}


.info-section{
    margin:750px;
    position: absolute;
    top: 10px;
    right:-250px;
}

.info-section{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* .info-section > .info-text-section{
    flex:1; 
} */
/* 
.info-pic{
    position:relative;
    top:10px;
} */

.interactive-img{
    width:650px;
    height:380px;
    position:relative;
    top: 10px;
    right:300px;
}

.info-text-section{
    position:relative;
    top: -350px;
    left: 350px;
    margin: 50px;
}


.creations-section{
    position:relative;
    top:750px;
    display:flex;
    flex-direction:row;
}

.creations-section{
    position: relative;
    top: 670px;
    left:-200px;
    display: flex;
    justify-content: space-around;  
}


.creations-btn{
    background-color:white;
    border:1px solid black;
    /* border-radius: */
}
/* Footer */
 .attribution { 
    font-size: 11px;
     text-align: center; 
    }
  .attribution a { 
    color: hsl(228, 45%, 44%);
 }